/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
Main Style Rules

-------------------------------------------------------------------------------------------------------------------------------------------------------------*/


body{
	background-color:#E0E0E0;
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif;

}

.icon_close_modal
{
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
	height:20px;
	fill:#333;
	cursor:pointer;
}
header
{
	background:url('../syg/images/header_background.jpg');
	min-height:100vh;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-weight:700;
	font-style:normal;
	position:relative;
	padding:0px;
	margin:0px;
	overflow:hidden;
	width:100%;
	margin:0 auto;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
Header Style Rules

-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	#header-top-bar{
		background:rgba(0,0,0,0.6);
		position:fixed;
		top:0px;
		left:00px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;

		-webkit-flex-flow:row nowrap;

		    -ms-flex-flow:row nowrap;

		        flex-flow:row nowrap;
		color:white;
		width:100%;
		height:70px;
		-webkit-align-items:center;
		    -ms-flex-align:center;
		        align-items:center;
		margin:0 auto;
		padding:0px;
	}



	#heading-area{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:rgba(0,0,0,0.8);
		padding:0px;
		margin:0px;
		color:#CFD8DC;
		-webkit-justify-content:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-flex-flow:column nowrap;
		    -ms-flex-flow:column nowrap;
		        flex-flow:column nowrap;
		z-index: 9;
		display:none;
	}

	#heading-area > figure
	{
		padding:30px;
	}
	#heading-area > figure >img{
		width:180px;
		height:180px;
		border-radius:50%;
		padding:0px;
		margin:0 auto;
		box-shadow:0px 0px 2px 1px #333;
		border:5px solid #CFD8DC;
	}

	#heading-area h1{
		margin:0 auto;
		padding:0px;
		text-align: center;
		color:#ECEFF1;
		font-size:6em;
		font-family: 'roboto',sans-serif;
		font-weight:300;

		osx-font-smoothing: grayscale;
		font-smoothing: antialiased;



	}

	hr.fade {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	#heading-area p {
		margin:0 auto;
		padding:0px;
		text-align: center;
		color:#CFD8DC;
		font-size:1em;
		font-family: 'Roboto',sans-serif;font-weight:300;

		text-shadow: 1px 2px 3px #666;
	}

	#social-bar
	{
		position:absolute;
		bottom:-60px;
		right:20px;
		z-index: 10;
		display: none;

	}


	.material-layer
	{
		background:skyblue;
		width:500px;
		height:500px;
		position:absolute;
		z-index: 1000;
		top:80;
		left:0;
		border-radius:50%;
		opacity:0.5;


	}

	.materialise
	{
		-webkit-animation: material 1s;
		        animation: material 1s;
		-webkit-animation-timing-function:cubic-bezier(1,.2,.9,.29);
		        animation-timing-function:cubic-bezier(1,.2,.9,.29);
		-webkit-animation-fill-mode:forwards;
		        animation-fill-mode:forwards;


	}

	@-webkit-keyframes material{

		0%{
			-webkit-transform:scale(1,1);
			        transform:scale(1,1);
			border-radius:50%;

		}
		50%{
			border-radius:50%;
		}

		100%	{
			-webkit-transform:scale(600,600);
			        transform:scale(600,600);
			border-radius:50%;
		}
	}

	@keyframes material{

		0%{
			-webkit-transform:scale(1,1);
			        transform:scale(1,1);
			border-radius:50%;

		}
		50%{
			border-radius:50%;
		}

		100%	{
			-webkit-transform:scale(600,600);
			        transform:scale(600,600);
			border-radius:50%;
		}
	}







	#main-nav
	{
		-webkit-flex:1;
		    -ms-flex:1;
		        flex:1;
		text-align: center;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:row nowrap;
		    -ms-flex-flow:row nowrap;
		        flex-flow:row nowrap;

		max-width:80%;
		margin:0 auto;
		-webkit-align-items:center;
		    -ms-flex-align:center;
		        align-items:center;
		font-style: normal;
		height:inherit;

	}

	#main-nav >span{

		text-align:center;
		-webkit-flex:1;
		    -ms-flex:1;
		        flex:1;

		min-width: 25px;
		margin-left:20px;
	}

	#main-nav > span > a{
		text-align:center;
		color:white;
		text-decoration: none;
		height:inherit;
		height:100%;
		border:1px solid white;


	}
	#main-nav a:hover{
		border-bottom:3px solid ;
		border-color:rgba(255,255,255,0.5);
		text-shadow: 1px 2px 3px #666;
	}

	.icon-social
	{
		fill:white;
		width:25px;
		height:29px;
		padding:5px;
		display:inline;
		text-shadow: 1px 2px 3px #666;
		transition:all 2s;
		cursor:pointer;


	}

	#nav-icons
	{
		padding-top:10px;




	}

	.icon-arrow{
		cursor:pointer;
		transition:all 3s;
		width:50px;
		height:50px;
		fill:#A7FFEB;
	}

	.icon-play{
		cursor:pointer;
		transition:all 3s;
		width:50px;
		height:50px;
		fill:#FFCCBC;
	}
	.icon-arrow:hover
	{
		fill:#1E88E5;

	}

	.icon-play:hover
	{
		fill:red;
	}
	#icon-fb:hover
	{
		fill:#3F51B5;
	}

	#icon-tw:hover
	{
		fill:#2196F3;
	}

	#icon-yt:hover
	{
		fill:#B71C1C;
	}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
Description of Sygma Styles
-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	#profile
	{
		width:60px;
		height:60px;
		border-radius:50%;
		display:inline-block;
		-webkit-transform:scale(1);
		        transform:scale(1);
		transition:all 0.3s;
	}

	#profile:hover
	{
		 -webkit-transform:scale(1.2);
		         transform:scale(1.2);
	}

	#article-desc > span
	{
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;

		-webkit-flex-flow:row nowrap;

		    -ms-flex-flow:row nowrap;

		        flex-flow:row nowrap;
		padding:10px;
		text-align: right;
		width:auto;


	}

	#article-desc >span> p{
		font-size:0.9em;
		border-bottom:5px solid #8BC34A;
	}

	.icon-cloud2
	{
		position:absolute;
		bottom:150px;
		width:200px;
		height:200px;
		right:100px;
		fill:white;
		fill:rgba(255,255,255,0.3);
		display:none;

	}

	.icon-cloud
	{
		position:absolute;
		bottom:10px;
		left:100px;
		width:200px;
		height:200px;
		fill:rgba(255,255,255,0.3);
		display:none;
	}



	#sector{

		padding:10px;
		width:auto;
		min-height:300px;
		overflow:hidden;



	}
	#article-desc
	{
		font-family: 'Roboto',sans-serif;
		text-align: left;
		color:#333;



	}

	#article-desc h3
	{
		font-size:3em;
		font-family: 'Roboto', serif;
		font-weight:800;
		padding-left:20px;
		text-align: center;

	}

	#article-desc p.desc{
		font-size:1.5em;
		font-weight:300;
		border-left:10px solid #BBDEFB;
		padding:5px 20px 10px 20px;
	}


#content{
	margin:0 auto;
	width:100%;
	padding:0px;

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
information grid Styles
-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	#sector2
	{

		padding:0px;
		margin: 0px;
		position:static;
		text-align: center;
		min-height:100vh;
		margin-bottom:100px;
		margin-top:100px;
		background-color:#BBDEFB;



	}




	#smg
	{
		-webkit-flex:3;
		    -ms-flex:3;
		        flex:3;
		padding:0px;
		margin:0px;
		border-radius:0%;
		display:inline-block;
		float:left;

	}

	#article-grid
	{

		margin:0px;
		-webkit-flex-flow:row nowrap;
		    -ms-flex-flow:row nowrap;
		        flex-flow:row nowrap;

		-webkit-flex-wrap:wrap;

		    -ms-flex-wrap:wrap;

		        flex-wrap:wrap;
		height:auto;
		position:static;
		-webkit-align-items:center;
		    -ms-flex-align:center;
		        align-items:center
	}

	#grid-row
	{
		-webkit-flex:1;
		    -ms-flex:1;
		        flex:1;
		margin:10px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;

		-webkit-flex-direction:row;

		    -ms-flex-direction:row;

		        flex-direction:row;
		-webkit-flex-wrap:wrap;
		    -ms-flex-wrap:wrap;
		        flex-wrap:wrap;


	}


	#grid-item
	{
		-webkit-flex:1;
		    -ms-flex:1;
		        flex:1;
		cursor:pointer;
		min-width:200px;
		transition:all 0.5s;


	}




	#event-sector
	{




	}

	.item-info
	{
		margin:10px;
		padding:0px;
		background:white;
		box-shadow:0px 0px 0.3em 0px #333;

		max-height:200px;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;

		-webkit-flex-flow:row nowrap;

		    -ms-flex-flow:row nowrap;

		        flex-flow:row nowrap;
		opacity:0.0;
		transition:all 3s;
		-webkit-transform:translateX(-50px);
		        transform:translateX(-50px);
		-webkit-transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8); /* Safari and Chrome */
    transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8);

	}

	.show-img
	{
		opacity:1.0;
		-webkit-transform:translateX(0px);
		        transform:translateX(0px);
	}

	.item-info:hover
	{
		box-shadow:0px 0px 0.5em 0px #333;
		-webkit-transform:scale(1.02,1.02);
		        transform:scale(1.02,1.02);
	}

	.item-info > img
	{
		padding:0px;
		margin:0px;
		-webkit-flex:4;
		    -ms-flex:4;
		        flex:4;
		max-width:150px;
		max-height:150px;


	}

	.item-info > article{
		height:inherit;
		padding-left:20px;
		padding-right:20px;
		-webkit-flex:6;
		    -ms-flex:6;
		        flex:6;
		        padding:;
		margin:0px;
		font-family:'Roboto', sans-serif;
		color:rgba(0,0,0,0.54);
		font-weight:300;
	}
	/*
	.icon
	{
		flex:1;
		width: 60px;
		height:60px;
		padding:0px;
		fill:#E91E63;
		padding-right:10px;
	}
	#grid-item > article
	{
		flex:1;
		display:flex;

		flex-flow:row nowrap;
		flex-flow:row nowrap;
		flex-flow:row nowrap;
		color:#424242;


	}

	#grid-item > article p{
		flex:1;
	}
	*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
Description of Sygma Styles
-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#sector3
{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;

	-webkit-flex-flow:row nowrap;

	    -ms-flex-flow:row nowrap;

	        flex-flow:row nowrap;
	-webkit-align-items:Right;
	    -ms-flex-align:Right;
	        align-items:Right;

	position:relative;
}

#sector3  img
{
	width:100%;

	max-height:300px;

}
#sector3  span:hover
{
	box-shadow:0px 0px 3px 1px #333;
	z-index:31;
	opacity:1;



}

#sector3 > div
{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.4;
	background:black;
	z-index:32;
}

#sector3 > span
{
	-webkit-flex:2;
	    -ms-flex:2;
	        flex:2;
	opacity:0.0;
	position:static;
	z-index:30;
	margin:0px;
	padding:0px;
	transition:all 1s ease-in-out;



}

.sector-info
{
	background:#00B8D4;
	width:100%;
	margin-bottom:50px;
	color:white;
	text-shadow:0px 0px 0.1em #333;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size:2em;
}

.sector-info > article
{
	padding:50px;
	font-size:18px;
	text-align: center;
}
button.frame
{
	background:#ECEFF1;
	border:2px solid #ECEFF1;
	padding:10px;
	color:#333;
	font-family:'Roboto';
	text-align: center;
	vertical-align: middle;
	margin:20px;
	cursor:pointer;
	opacity:1;
	transition:all 1s;
}
.frame:hover
{
	background:#607D8B;
	color:white;
	box-shadow:0px 0px 2px #333;


}

footer
{
	background:#333;

	border-top:5px solid darkgrey;


}

footer >section{
	font-family:'Roboto',sans-serif;
	font-weight:300;
	width:85%;
	margin:0 auto;
	font-size:1em;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	    -ms-flex-flow:row nowrap;
	        flex-flow:row nowrap;
	flex-wrap:wrap;
}

footer >section> article
{
	padding:10px;
	-webkit-flex:6;
	    -ms-flex:6;
	        flex:6;
	padding:100px;
	text-align:center;
	color:grey;


}

footer >section> article > figure
{
	width:50px;
	height:50px;
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}

footer >section> article > img{
	width:100px;
	height:100px;
	border-radius:50%;
	text-align: center
}

footer >section> aside
{
	padding:10px;
	-webkit-flex:4;
	    -ms-flex:4;
	        flex:4;
	margin:10px;
	border-left:1px solid grey;
	font-family:'roboto';
	color:grey;
	text-align: center;
	min-width:200px;

}


footer >section> aside > nav{
	margin:10px;
	padding:5px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	        text-align:left;

}

footer >section> aside > nav > a{
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	border-bottom:1px dashed grey;
	text-decoration:none;
	color:grey;
	padding:20px;
}
.slider
{
	overflow:hidden;
	margin:20px;
	box-shadow:0px 0px 0.2em black;
	position:relative;
	width:60%;



}
.loader
{
	width:50px;
	height:50px;
	margin-left:370px;
	margin-top:150px;
	fill:#333;
	-webkit-animation: spin 1s linear infinite;
	        animation: spin 1s linear infinite;

}

.loading p{
	text-align:center;
	color:#333;
	font-family: 'Roboto',sans-serif;
	font-size:12px;
}

@-webkit-keyframes spin
{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@keyframes spin
{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.slider .loading
{
	width:100%;
	height:100%;
	background-color:white;
	opacity:0.8;
	position:absolute;
	z-index:1;
}

.pslide >span > img{

	width:800px;
	height:100%;
	top:0;
	left:0;

}
.pslide >span >div
{

	color:white;

	position:absolute;

	bottom:0px;
	left:0px;
	width:100%;



}

.pslide > span > div > article
{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	padding:30px;


}

.pslide > span > div > article p
{
	padding-left:50px;
	font-size:2em;
	font-family:'Roboto',sans-serif;
	text-shadow:1px 1px 5px black;
}
.event-img
{
	width:150px;
	height:160px;
	border-radius:50%;

	border:3px solid grey;




}
.pslide > span
{
	float:left;
	display:inline;
	position:relative;

}
.pslide{
	width:100000px;
	height:100%;
	margin:0;
	padding:0;


}

#scontainer
{
	position:static;
	width:100%;
	height:100%;

}


.sector-images
{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row wrap;
	    -ms-flex-flow:row wrap;
	        flex-flow:row wrap;



	padding:0px;


	margin:0 auto;
}
.sector-images > span
{
	-webkit-flex:4;
	    -ms-flex:4;
	        flex:4;
}
.sector-images > span > img
{




}

.video-sector
{
	width:100%;

	text-align: center;
	position:static;

}

.video-sector > figure
{
	display:inline-block;
	width:200px;
	height:200px;
	border-radius: 50%;
	overflow:hidden;
	position:relative;
	padding:10px;

}

.video-sector > figure> figcaption
{

	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-align-items:center;
	    -ms-flex-align:center;
	        align-items:center;
	color:white;
	transition:all 1s;

}


.shown-play-icon
{
	-webkit-transform:scale(0,0);
	        transform:scale(0,0);
	opacity:0;
}
.show-play-icon
{
	-webkit-transform:scale(1,1);
	        transform:scale(1,1);
	opacity:1;
}

.icon-play
{
	cursor:pointer;
	transition:all 3s;
	width:50px;
	height:50px;
	fill:#B71C1C;
}

.video-sector > figure > img
{
	width:100%;
	height:100%;
	border-radius:50%;
	position:absolute;
	top:0;
	left:0;
}
.icon-ham
{

	fill:rgba(255,255,255,0.5);
	z-index: 1099;
	position:absolute;
	top:0;
	left:0;
	width:25px;
	height:25px;
	cursor:pointer;
	padding:10px;
}

.icon-ham:hover
{
	fill:#333;
}
.side-bar
{
	position:fixed;
	top:0px;
	left:0px;
	background:#e0e0e0;
	font-family:'Roboto' ,Sans-serif;
	color:white;
	overflow-y:scroll;
	overflow-x:hidden;
	height:100vh;
	min-width:250px;
	display:none;
	z-index: 990;
	box-shadow:0 0 5px 0 black;

}
.side-bar::-webkit-scrollbar {
    width: 7px;
}

.side-bar::-webkit-scrollbar-track {

    border-radius: 10px;
   }

.side-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgba(0,0,0,0.5);
}

.side-bar > nav{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	margin-top:60px;
}


.side-bar > nav > a{

	display:-webkit-flex;

	display:-ms-flexbox;

	display:flex;
	-webkit-flex-flow:row nowrap;
	    -ms-flex-flow:row nowrap;
	        flex-flow:row nowrap;
	height:auto;
	padding:20px;
	text-decoration: none;
	color:#333;
	fill:#333;
	border-bottom: 1px solid lightgrey;


}

.side-bar > nav > a:hover
{

}

.side-bar > nav > a > p{
	font-size:16px;

	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding:0px;
	margin:0px;
	margin-left:20px;
	padding-right:50px;

}

.page-cover
{
	width:100%;
	height:100%;

	background:lightblue;
	opacity:0.6;
	position:fixed;
	top:0;
	left:0;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-align-items:center;
	    -ms-flex-align:center;
	        align-items:center;
	z-index:1000;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
#password
{
	height:40px;
	width:200px;
	border:0px;
	background:#1DE9B6;
	color:white;
}
.page-cover > div
{
	background:white;
	width:300px;
	height:300px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-align-items:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-flex-flow:column;
	    -ms-flex-flow:column;
	        flex-flow:column;
	color:#3F51B5;
	font-family: 'roboto',Sans-serif;
}

.page-cover > div > input
{
	width:200px;
	color:black;
	background:lightgrey;
	margin:20px;
	padding:10px;
}
.icon-nav
{

	width:25px;
	height:25px;
	padding:0px;
}
#submit
{
	background:#333;
	border:1px white;
	color:white;
	width:50px;
	height:30px;
	cursor:pointer;
}

#submit:hover
{
	background:grey;

}
.slide{
	-webkit-animation:slidein 0.5s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-timing-function: ease-out;

}



.contact-info
{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:column nowrap;
	    -ms-flex-flow:column nowrap;
	        flex-flow:column nowrap;
	min-height:100vh;

}

.contacts
{
	margin:0 auto;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row wrap;
	    -ms-flex-flow:row wrap;
	        flex-flow:row wrap;
	-webkit-align-items:space-around;
	    -ms-flex-align:space-around;
	        align-items:space-around;
	-webkit-justify-content:space-around;
	    -ms-flex-pack:distribute;
	        justify-content:space-around;
	        padding:50px;

}



.contact
{
	transform:scale(0,0);
	transition:all 1s;
}

.zoom-out
{
	transform:scale(1,1);
}
.contacts > article > figure >img
{
	width:100px;
	height:100px;
	border-radius:50%;
	margin:0;


}

.contacts > article > figure
{
	margin:0px;
	padding:0px;

}

.contacts > article > span{
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	font-size:13px;
	margin:0px;
	padding-left:20px;
}


.contacts > article
{
	margin:0px;
	padding:50px;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-style:normal;
	color:white;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row wrap;
	    -ms-flex-flow:row wrap;
	        flex-flow:row wrap;
	 -webkit-flex-wrap:wrap;
	     -ms-flex-wrap:wrap;
	         flex-wrap:wrap;
	 cursor:pointer;
	 transition:all 1s;

}

.contacts>article:hover
{

	-webkit-transform:scale(1.1,1.1);

	        transform:scale(1.1,1.1);
}

.map-box
{
	padding:0px;
	min-height:300px;
	background:lightblue;
	position:relative;

}

.map-disable
{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.map-overlay
{



	width:100%;
	background:#26A69A;
}
@-webkit-keyframes slidein{
	0%{left:-100px;}
	100%{left:0px;}
}


.cover-photo
{
	width:400px;
	height:300px;
	background:orange;
}

.page-flow
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	position:fixed;
	z-index:1500;
	display: flex;
	justify-content:center;
	align-items:center;
}
.modal
{
	position:relative;
	max-width:90%;
	height:auto;

	background:rgba(255,255,255,0.7);
	font-family: 'Roboto',sans-serif;
	padding:20px;

}
.view{
	min-height:400px;
}
.view-pager{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	display:flex;
	flex-flow:row wrap;
	flex-wrap:wrap;
	font-family: 'Roboto',sans-serif;
	color:#333;
	justify-content:center;
	align-items:center;
}

.view-page
{
	width:100%;
	height:100%;
	flex:2;
	display:flex;

	flex-flow:column nowrap;
	padding:20px;
	justify-content:top;
	align-items:flex-start;
	background:#8bc34a;
	min-height:200px;
	border:1px solid darkgreen;
	opacity:0.6;


}

.view-page > h2
{

}

.view-page > p
{

}

.view-page > img
{

}
.modal
{
	display:flex;
	flex-flow:row nowrap;


}
.modal > form
{
	display:flex;

	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	padding:10px;
	font-family:'Roboto',sans-serif;
	min-width:500px;


}

.modal > form > a{
	text-decoration: none;
	color:#333;

}


.modal > form > input
{
	width:50%;
	color:white;
	margin:0 auto;
	margin:10px;

	border:0px;
	padding:20px;
}

.text-bx
{
	background:#333;
}

.register
{
	background:#3F51B5;
}
@media screen and(max-height:200px)
{
	#heading-area > figure >img{
		height:100px;
		width:100px;
		border-radius:50%;
	}
}
@media screen and (max-width:700px)
{
	#social-bar{
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;

		-webkit-flex-flow:column nowrap;

		    -ms-flex-flow:column nowrap;

		        flex-flow:column nowrap;
	}

	#article-desc p{
		font-size:1em;
	}

	#article-desc h3{
		font-size:2em;
	}

	#grid-row
	{
		-webkit-flex-flow:column nowrap;
		    -ms-flex-flow:column nowrap;
		        flex-flow:column nowrap;
	}

	#heading-area h1{
		font-size:2em;

	}

	#heading-area p{


	}
	#heading-area{
		height:100%;
	}
	#scontainer
	{
		margin:0 auto;
	}
	#sector2
	{
		height:auto;

	}
	#sector
	{
		height:auto;
	}
	.slider
	{
		width:100%;
		margin:0 auto;
	}
	#content{
		width:100%;
		margin:0 auto;
		padding:0px;
	}
	.sector-images
	{
		width:100%;
		margin:0 auto;
	}
	header{
		min-height:100vh;

	}
}
